<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="Static Assets" stopProcessing="true">
          <match url="([\S]+[.](html|htm|svg|json|js|css|png|gif|jpg|jpeg))" />
          <action type="Rewrite" url="/{R:1}"/>
        </rule>
        <rule name="ReactRouter Routes" stopProcessing="true">
          <match url=".*" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="/index.html" />
        </rule>
      </rules>
    </rewrite>

	<staticContent>
         <clientCache cacheControlMode="DisableCache" />
    </staticContent>
 <httpProtocol>
    <customHeaders>
      <add name="X-Frame-Options" value="DENY" />
	  <remove name="X-Powered-By" />
	  <add name="Cache-Control" value="No-Store"/>
	  <add name="X-Content-Type-Options" value="nosniff" />
	  	  <add name="Content-Security-Policy" value="default-src * data: 'unsafe-eval' 'unsafe-inline' blob:; child-src blob:; worker-src blob:; connect-src *.dfcugroup.com; style-src 'self' 'sha256-L88f/zuAPLNGoyieT1NCdCbxlop83g7D9ie4rUuDxmo=' 'unsafe-inline'; style-src-elem 'unsafe-inline' 'self' https://fonts.googleapis.com; font-src 'self' https://fonts.gstatic.com;  script-src 'self' 'unsafe-inline' https:; manifest-src 'self'; " />

    </customHeaders>
  </httpProtocol>
  
  </system.webServer>
</configuration>